{% extends "base.html" %}
{% block title %}Carbon Cruncher - Recovery{% endblock %}
{% block body %}
<form action="/recovery/id" method="post">
    <div class="mdc-card px-16 py-16 mt-16 mb-8 mx-auto" style="max-width:600px;">
        <h2 class="text-3xl font-bold mb-8">Username Recovery</h2>
        <label class="mdc-text-field mdc-text-field--filled mb-5" data-mdc-auto-init="MDCTextField">
            <span class="mdc-text-field__ripple"></span>
            <span class="mdc-floating-label" id="email">Email</span>
            <input class="mdc-text-field__input" type="text" aria-labelledby="username" name="email">
            <span class="mdc-line-ripple"></span>
        </label>
        {% include "includes/captcha.html" %}
        <div class="mt-5 flex justify-between items-center">
              <a href="/recovery" class="text-blue-500 underline">
                Forgot Username
              </a>
            <div class="mdc-touch-target-wrapper text-right" data-mdc-auto-init="MDCRipple">
            <button class="mdc-button mdc-button--touch mdc-button--raised">
              <span class="mdc-button__ripple"></span>
              <span class="mdc-button__touch"></span>
              <span class="mdc-button__label">Send Username</span>
            </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
{% endblock %}
