{% extends "base.html" %}
{% block title %}Carbon Cruncher - Register{% endblock %}
{% block body %}
<div class="mdc-card px-16 py-16 mt-16 mb-8 mx-auto" style="max-width:600px;">
    <h2 class="text-3xl font-bold mb-8">Registration</h2>
    <h3 class="text-3x1 mb-8">Step 2/3 - Verify Email</h3>
    <h3>An email has been sent to your account! Click on the link to confirm your ownership of the email. After that, your account will be created. Link will expire in 15 minutes.</h3>
</div>

{% endblock %}