{% extends "base.html" %}
{% block title %}Carbon Cruncher - Calculator API Documentation{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/calculator/emission_tracker.js') }}"></script>
{% endblock %}

{% block body %}
<div class="p-5">
    <div class="p-5">
        <h1 class="text-2xl">Carbon Emission Calculator API v2</h1>
        <ul>
            <li>purpose: to generate report based on carbon emissions submitted</li>
        </ul>
    </div>
    
    <div class="p-5">
        <h1 class="text-2xl">whats new! (in v2)</h1>
        <ul>
            <li>&#10003; includes proper documentation of endpoints, which is this page</li>
            <li>&#10003; ensure users can only submit once per week</li>
            <li>&#10003; prevent injection and insecure deserialization, ensures users can only access data from reports they own</li>
            <li>&#10003; documents intended environment to prevent insecure configuration</li>
            <li>&#10003; exception handling to ensure api doesn't crash unexpectedly</li>
        </ul>
    </div>

    <div class="p-5">
        <h1 class="text-2xl">endpoints</h1>
        
        <table class="mt-5 pt-2 table-fixed min-w-full dark:bg-slate-800 rounded text-white">
            <thead>
              <tr>
                <th>Endpoint</th>
                <th>Purpose</th>
                <th>Parameters</th>
                <th>Response</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-slate-700 p-2">GET calculator/api/v2</td>
                <td class="border border-slate-700 p-2">Proper detailed documentation of API endpoints</td>
                <td class="border border-slate-700 p-2">None</td>
                <td class="border border-slate-700 p-2">HTML Webpage</td>
              </tr>
              <tr>
                <td class="border border-slate-700 p-2">POST calculator/api/v2/submit</td>
                <td class="border border-slate-700 p-2">Generate report record on server side</td>
                <td class="border border-slate-700 p-2"><code>{<br />&emsp;&emsp;"activities": [{<br />&emsp;&emsp;&emsp;&emsp;"item":str,<br />&emsp;&emsp;&emsp;&emsp;"category":str,<br />&emsp;&emsp;&emsp;&emsp;"emission":int<br />&emsp;&emsp;}]<br />}</code></td>
                <td class="border border-slate-700 p-2"><code>{<br/>&emsp;&emsp;"status code": int,<br/>&emsp;&emsp;"report_id": int,<br/>&emsp;&emsp;"comment": str<br/>}</code></td>
              </tr>
              <tr>
                <td class="border border-slate-700 p-2">GET calculator/api/v2/report/id/:id</td>
                <td class="border border-slate-700 p-2">Fetch carbon emission details from report by id</td>
                <td class="border border-slate-700 p-2">id</td>
                <td class="border border-slate-700 p-2"><code>{<br/>&emsp;&emsp;"breakdown": [{<br/>&emsp;&emsp;&emsp;&emsp;"category": str,<br/>&emsp;&emsp;&emsp;&emsp;"highest item": str,<br/>&emsp;&emsp;&emsp;&emsp;"highest emission": int,<br/>&emsp;&emsp;&emsp;&emsp;"total emission": int<br/>&emsp;&emsp;}]<br/>}</code></td>
              </tr>
              <tr>
                <td class="border border-slate-700 p-2">GET calculator/api/v2/report/username/:username</td>
                <td class="border border-slate-700 p-2">Fetch report ids generated by in the past month</td>
                <td class="border border-slate-700 p-2">username</td>
                <td class="border border-slate-700 p-2"><code>{<br/>&emsp;&emsp;"ids": [str,str,str,str]<br/>}</code></td>
              </tr>
 <!--              <tr>
                <td class="border border-slate-700 p-2">POST calculator/api/v2/share</td>
                <td class="border border-slate-700 p-2">Calculate progress of carbon emissions for sharing</td>
                <td class="border border-slate-700 p-2"><code>None</code></td>
                <td class="border border-slate-700 p-2"><code>{<br/>&emsp;&emsp;"status code": int,<br/>&emsp;&emsp;"comment": str<br/>}</code></td>
              </tr> -->
            </tbody>
        </table>
        <!-- 
        <ul class="list-disc">
            <li>calculator/api/v2</li>
            <li>calculator/api/v2/submit</li>
            <li>calculator/api/v2/report/:id</li>
        </ul> -->
    </div>

    <div class="p-5">
        <h1 class="text-2xl">what environment is it running</h1>
        <ul class="list-disc">
            <li>v2 (production, "debug mode: off")</li>
            <li>v1 (development, "debug mode: on")</li>
        </ul>
    </div>

    <div class="p-5">
        <h1 class="text-2xl">who can have access</h1>
        <ul class="list-disc">
            <li>v2 (registered users)</li>
            <li>v1 (internal)</li>
        </ul>
    </div>
</div>
{% endblock %}
